{% extends 'base.html' %}
{% block title %}index{% endblock title %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 mt-5">
      <h2>Fill form with some url</h2>
      <form class="mt-4" action="{% url 'core:get-urls' %}" method="get">
        <div class="form-group d-flex">
          <label class="sr-only" for="urlFieldInput">Url</label>
          <input id="urlFieldInput" class="form-control " name="url" type="text" placeholder="Enter url...">
          <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <ul class="list-unstyled ml-4">
        {% for key in object_list %}
          <li>
            [<small>{{ key.timestamp|date:"SHORT_DATE_FORMAT" }} at {{ key.timestamp|time }}</small>]
            [<small class="text-muted">{{ key }}</small>]
            [{{ key.status_code }}]
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>



{% endblock content %}